@import "tailwindcss";

@font-face {
    font-family: 'Noah';
    src: url('./assets/fonts/Noah-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noah';
    src: url('./assets/fonts/Noah-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@layer base {
  body {
    font-family: 'Noah', sans-serif;
  }
}

@layer components {
  .page-wrapper {
    @apply px-4 md:px-16 xl:px-40;
  }

  .h1 {
    @apply text-6xl font-bold;
  }

  .h2 {
    @apply text-4xl font-bold leading-snug;
  }

  .h2-thinn {
    @apply text-4xl leading-snug;
  }

  .h3 {
    @apply text-2xl font-bold;
  }

  .text-nav {
    @apply text-base font-bold uppercase;
  }

  .text-large {
    @apply text-2xl leading-relaxed;
  }

  .text-regular {
    @apply text-xl leading-relaxed;
  }

  .footer-icon {
    @apply text-2xl;
  }

  .card-shadow {
    @apply shadow-[5px_15px_30px_0_rgba(0,0,0,0.25)];
  }
}