@import "tailwindcss";

@font-face {
    font-family: 'Noah';
    src: url('./assets/fonts/Noah-Regular.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noah';
    src: url('./assets/fonts/Noah-Bold.ttf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@layer base {
  body {
    font-family: 'Noah', sans-serif;
  }
}

@layer components {
  .page-wrapper {
    @apply px-4 md:px-16 xl:px-40;
  }

  .text-wrapper {
    @apply max-w-4xl mb-14;
  }

  .p-space-regular {
    @apply space-y-6;
  }

  .h1 {
    @apply text-6xl font-bold;
  }

  .h2 {
    @apply text-4xl font-bold leading-snug;
  }

  .h2-thinn {
    @apply text-4xl leading-12 text-gray-500;
  }

  .h3 {
    @apply text-2xl font-bold;
  }

  .text-nav {
    @apply text-base font-bold uppercase;
  }

  .text-large {
    @apply text-2xl leading-8;
  }

  .text-regular {
    @apply text-xl leading-6;
  }

  .text-caption {
    @apply text-base
  }

  .footer-icon {
    @apply text-2xl;
  }

  .main-shadow {
    @apply shadow-[5px_15px_30px_0_rgba(0,0,0,0.25)];
  }


  .rounded-corners {
    @apply rounded-md;
  }

  .gap-large {
    @apply gap-12;
  }

  .x-gap-regular {
    @apply gap-x-6;
  }
  .x-gap-large {
    @apply gap-x-12;
  }
  
  .padding-b-large {
    @apply pb-24;
  }
}